<%- include ('partials/header') %>
  <%- include ('partials/navbar') %>

    <div class="container">
      <h1>Home Page <%= 'nuno'.toUpperCase() %></h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque fugit
        asperiores reiciendis cum ut alias saepe fugiat cupiditate nostrum dolor!
        Rerum ipsa cum omnis facere, voluptate ducimus excepturi minima quasi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quidem ullam
        aliquam dolore, consectetur quibusdam soluta excepturi quos minima aut
        minus, officiis saepe, enim accusamus sint. Distinctio debitis nostrum
        eaque.
      </p>
    </div>
    <%- include ('partials/footer') %>

